/* SCSS HEX */
// $oxford-blue: #080425ff;
// $lavender-web: #d9dbf1ff;
// $federal-blue: #140152ff;
// $mountbatten-pink: #90708cff;
// $cornell-red: #b01c1cff;

// /* SCSS HSL */
// $oxford-blue: hsla(247, 80%, 8%, 1);
// $lavender-web: hsla(235, 46%, 90%, 1);
// $federal-blue: hsla(254, 98%, 16%, 1);
// $mountbatten-pink: hsla(308, 13%, 50%, 1);
// $cornell-red: hsla(0, 73%, 40%, 1);

/* SCSS RGB */
$darkAccent:  #2f3061ff;
$lightNeutral: #f7fff7ff;
$mainColor: #343434ff;
$secondaryColor: #ffe66dff;
