{% extends "pre.html" %}
{% block title %} Motion Detector  {% endblock  %}
{% block content %}
<div class="main-area">

    <div class="Header">
        <div class="welcome">
            <p class="welcomeText"> عزیز خوش آمدید
            </p>
        </div>
        <div class="hamMenu">
            <button class="fa-solid fa-bars btn-show-left-area">
            </button>
        </div>
    </div>


    <div class="quickAccess">

        <div class="quickAccessSingle">
            <a href="{{ url_for('monitoring') }}">
                <img src="{{url_for('static', filename='img/ff5453ff1ae4d6cad7adf3ff031a9b634eb61d71dfe4ab7b.avif')}}" alt="">
                <p>مانیتورینگ همزمان زوایای بدن</p>
            </a>
        </div>

        <div class="quickAccessSingle">
                <img src="{{url_for('static', filename='img/ff5453ff1ae4d6cad7adf3ff031a9b634eb61d71dfe4ab7b.avif')}}" alt="">
                       <form method="post" enctype="multipart/form-data">

                       {{ time_frame_form.csrf_token}}
                {{time_frame_form.time(id="timeFrame")}}
                                            <a href="{{ url_for('monitoring') }}">

                {{ time_frame_form.submit()}}
            </a>

                </form>
                <p>مانیتورینگ</p>

        </div>

    </div>


</div>

{% endblock %}