{% extends "pre.html" %}
{% block title %} مانیتورینگ  {% endblock  %}
{% block content %}
<div class="main-area">
    <div class="Header">
        <div class="welcome">
            <p class="welcomeText">                مقطع زمانی (ثانیه):
                <p id="timeFrameValue">{{time_frame}}</p>


            </p>
        </div>
        <div class="hamMenu">
            <button class="fa-solid fa-bars btn-show-left-area">
            </button>
        </div>
    </div>
      <button id="nodesDisplay"> نمایش نقاط</button>


    <div class="monitoring">

        <div class="monitoringInput">
            <div class="monitoringRaw">
                <img id="camera_video" src="{{ url_for('video_feed') }}" alt="Video Stream">
                <img id="result_annotated" src="{{ url_for('res_feed_annotated') }}" alt="Video Stream">

                <!--                <video id="video" autoplay></video>-->
            </div>
            <!--            <svg class="monitoringResult" id="result-container">-->
            <!---->
            <div class="monitoringRaw">
                <img id="result_empty" src="{{ url_for('res_feed_empty') }}" alt="Video Stream">
                <!--            </svg>-->
            </div>
        </div>
        <div class="monitoringControl">

            <!--            <form method="post" enctype="multipart/form-data">-->

                <!--            <input id="timeFrame" class="timeFrame" type="range" min="0.500" max="10000" value="1000" step="1000">-->
<!--            </form>-->

<!--            <button id="record-button">-->
<!--                <i class="fas fa-record-vinyl"></i>-->
<!--            </button>-->
<!--            <div id="timer"></div>-->
<!--            <button id="stop-button" class="monitoringControlBtnStop">-->

<!--                <i class="fas fa-save"></i>ذخیره-->
<!--            </button>-->


        </div>


    </div>
    <div class="statistics">
        <div class="statisticsTables">

            <table>
                <thead>

                <th>
                    عضو
                </th>
                <th>
                    وضعیت
                </th>


                <!--                <result_data src="{{ url_for('res_data') }}" alt="Video Stream">-->
                <!--                </result_data>-->


                </tr>
                </thead>
                  <img src="{{ url_for('res_data') }}">
                <tbody class="statisticsTableTbody">
                <!--                <tr>-->
                <!--                    <td>زانو چپ</td>-->
                <!--                    <td>-->
                <!--                        <label class="sliderLabel"></label>-->
                <!--                        <input type="range" min="-180" max="180"-->
                <!--                               value="50" class="slider" id="myRange" >-->
                <!--                    </td>-->
                <!--                </tr>-->
                </tbody>
            </table>
        </div>
<!--        <div class="statisticsScoreOrCharts">-->
<!--            <div class="statisticTabs">-->
<!--                <div class="statisticTab" id="tabsChart">نمودار ها</div>-->
<!--                <div class="statisticTab" id="tabsStandars">استاندارد ها</div>-->
<!--            </div>-->
<!--            <div class="score">-->
<!--            </div>-->
<!--            <div class="charts">-->
<!--                                <img src="{{ url_for('res_chart_data') }}">-->

<!--<div class="graph">-->
<!--            <button id="showHumid"> Show Humidity</button>-->
<!--            <button id="showTemp"> Show Temperature</button>-->
<!--            <div id="chart"></div>-->
<!--        </div>-->
<!--            </div>-->

<!--        </div>-->

    </div>
</div>

{% endblock %}